# Reforma

## Preâmbulo

In [1]:
import numpy as np
import pandas as pd
import psycopg2
import pandas.io.sql as sqlio
import time

# Track execution time                                                          
start_time = time.time()

### Parâmetros

In [2]:
# Simulation Parameters
DBTABLE = 'FATO_AUXILIO_SAMPLE'
#DBTABLE = 'FATO_AUXILIO'
ANO_INICIO = 1995
ANO_FIM = 2016
DADOS_FAZENDA = '../dataset/dados_fazenda.xlsx'

# Conection parameters
HOST='tama'
PORT='5432'
DBNAME='prevdb'
USER='prevdb_user'
PASS='pr3v'

### Biblioteca

In [3]:
def ds_query(sql_query):
    """
        Query Dataset

    Parâmetros
    ----------
        sql : string
            SQL query to be performed against the dataset
        
    Retorno
    -------
        Pandas Dataframe
    """
    # Connect to an existing database
    try:
        conn = psycopg2.connect("host='{}' port={} dbname='{}'user={} password={}"
                .format(HOST, PORT, DBNAME, USER, PASS))
        df = sqlio.read_sql_query(sql, conn)
        # Close communication with the database                                     
        conn.close()
        return df
    except:
        print("Unable to connect to the database")
        return

def get_ano_dib(ano_nasc, ano_inicio_contrib, sexo, clientela):
    """
        Retorna ano mínimo para aposentadoria segundo PEC 6/2019

    Parâmetros
    ----------
        ano_nasc : int
            Ano de nascimento do contribuinte
        ano_inicio_contrib : int
            Ano em que o contribuinte iniciou suas contribuições
        sexo : int
            Sexo do contribuinte (1: masculino, 3: feminino)
        clientela : int
            Clientela do contribuinte (1: rural, 2: urbana)
        
    Retorno
    -------
        Inteiro indicando o ano mínimo em que a pessoa poderá se aposentar (-1 em caso de erro)
    """
    if clientela == 1:
        if sexo == 1:
            ano_dib = (ano_nasc+60, ano_inicio_contrib+20)
            return int(max(ano_dib))
        elif sexo == 3:
            ano_dib = (ano_nasc+60, ano_inicio_contrib+20)
            return int(max(ano_dib))
        
    if clientela == 2:
        if sexo == 1:
            ano_dib = (ano_nasc+65, ano_inicio_contrib+20)
            return int(max(ano_dib))
        elif sexo == 3:
            ano_dib = (ano_nasc+60, ano_inicio_contrib+20)
            return int(max(ano_dib))
    
    else:
        return -1

def prob_sobrevivencia(ano, idade, sexo, sobrevida):
    """
        Retorna propabilidade de uma pessoa com idade 'idade' no ano 'ano' sobreviver
    por 'sobrevida' anos

    Parâmetros
    ----------
        ano: int
            Ano base para calculo da probabilidade
        idade : int
            Idade da pessoa no ano base
        sexo : int
            Sexo do contribuinte (1: masculino, 3: feminino)
        sobrevida : int
            Numero de anos de sobrevivencia
        
    Retorno
    -------
        Inteiro entre 0 e 1
    """
    ano = int(ano)
    idade = int(idade)
    sexo = int(sexo)
    sobrevida = int(sobrevida)
    #print('{}, {}, {}, {}'.format(ano, idade, sexo, sobrevida))
     
    # Aproxima probabilidade caso parametros estejam fora dos limites dos dados
    if ano<2000:
        ano=2000
    if sobrevida < 0:
        return 1
        
    anoProjetado = ano + sobrevida
    idadeProjetada = idade + sobrevida
    
    if anoProjetado > 2060:
        anoProjetado = 2060
    if anoProjetado < 2000:
        anoProjetado = 2000
    if idadeProjetada > 89:
        idadeProjetada = 89
    if idadeProjetada < 0:
        idadeProjetada = 0
    
    # Calcula probabilidades
    if sexo == 1:
        return POPH[anoProjetado].loc[idadeProjetada] / POPH[ano].loc[idade]
    elif sexo == 3:
        return POPM[anoProjetado].loc[idadeProjetada] / POPM[ano].loc[idade]
    else:
        return -1

### Dados

#### População

In [4]:
POPH = pd.read_excel(DADOS_FAZENDA, sheet_name = 'PopIbgeH', index_col='ÍNDICE',nrows=91,dtype=int)
POPM = pd.read_excel(DADOS_FAZENDA, sheet_name = 'PopIbgeM', index_col='ÍNDICE',nrows=91,dtype=int)

In [5]:
#2010 60 anos -> 2020 -> 70 anos
POPM[2010].loc[60]
gap = 70 - 60
p = POPM[2010+gap].loc[60+gap] / POPM[2010].loc[60]
p

0.8796766592747769

#### Fato Pessoa

In [6]:
sql = """
SELECT *
FROM {table_name}
WHERE DIB > {ano}*10000
    AND ESPECIE IN (41, 42)  -- APOSENTADORIA POR IDADE / TEMPO DE SERVIÇO
    AND CLIENTELA = 1 -- URBANA
    AND SEXO IN (3, 1)      -- MULHERES / HOMENS
""".format(table_name=DBTABLE,
           ano=ANO_INICIO)
df = ds_query(sql)

# Cleanup nulls and fix data types
df['dt_obito'] = df['dt_obito'].apply(lambda x: int(x) if x==x else 0)

# Compute new attributes
df['ano_dib'] = df['dib'].apply(lambda x: int(x/10000))
df['ano_nasc'] = df['dt_nasc'].apply(lambda x: int(x/10000))
df['ano_inicio_contrib'] = df.apply(lambda x: int(x['ano_dib'] - x['tempo_contrib']), axis=1)

# Compute PEC 6/2019 attributes
df['pec6_ano_dib'] = df.apply(lambda x: get_ano_dib(x['ano_nasc'], 
                                                    x['ano_inicio_contrib'], 
                                                    x['sexo'],
                                                    x['clientela']), 
                              axis=1)
df['pec6_idade_dib'] = df.apply(lambda x: int(x['pec6_ano_dib'] - x['ano_nasc']), axis=1)
df['pec6_gap'] = df.apply(lambda x: int(x['pec6_idade_dib'] - x['idade_dib']), axis=1)
df['pec6_prob'] = df.apply(lambda x: prob_sobrevivencia(x['ano_dib'],
                                                        x['idade_dib'],
                                                        x['sexo'],
                                                        x['pec6_gap']), 
                           axis=1)

# FATO_PESSOA
fato_pessoa = df[['ano_nasc','dt_nasc','dt_obito','sexo', 'clientela',
                  'ano_inicio_contrib', 'ano_dib','idade_dib','tempo_contrib',
                  'especie', 'pec6_ano_dib', 'pec6_idade_dib', 'pec6_gap',
                  'pec6_prob'
                 ]]
fato_pessoa
#fato_pessoa[['dib_ano','dt_nasc']].groupby('dib_ano').count()
#fato_pessoa[['dib_ano','idade_dib']].groupby('idade_dib').count()

,ano_nasc,dt_nasc,dt_obito,sexo,clientela,ano_inicio_contrib,ano_dib,idade_dib,tempo_contrib,especie,pec6_ano_dib,pec6_idade_dib,pec6_gap,pec6_prob
0,1935,19350106,19981105,3,1,1988,1995,60,7,41,2008,73,13,0.789282
1,1929,19291214,0,3,1,1989,1995,65,6,41,2009,80,15,0.631777
2,1934,19340813,20151212,3,1,1978,1995,60,17,41,1998,64,4,0.948549
3,1934,19341121,0,3,1,1976,1995,60,19,41,1996,62,2,0.973187
4,1929,19291129,20141213,1,1,1976,1995,65,19,41,1996,67,2,0.935499
5,1930,19300113,0,1,1,1970,1995,65,25,41,1990,60,-5,1.000000
6,1943,19431129,0,1,1,1962,1995,51,33,42,2003,60,9,0.888171
7,1940,19401031,0,1,1,1962,1995,54,33,42,2000,60,6,0.912453
8,1932,19320315,0,3,1,1987,1995,62,8,41,2007,75,13,0.758363
9,1949,19490827,0,1,1,1964,1995,45,31,42,2009,60,15,0.856772
10,1930,19300108,0,1,1,1989,1995,65,6,41,2009,79,14,0.535006
11,1938,19380928,0,1,1,1961,1995,56,34,42,1998,60,4,0.936825
12,1947,19471128,0,1,1,1962,1995,47,33,42,2007,60,13,0.865335
13,1946,19460222,0,1,1,1964,1995,49,31,42,2006,60,11,0.874412
14,1942,19420427,20001010,1,1,1963,1995,52,32,42,2002,60,8,0.896025
15,1952,19520219,0,1,1,996,1995,43,999,42,2012,60,17,0.851487
16,1952,19520610,0,1,1,1961,1995,42,34,42,2012,60,18,0.849438
17,1951,19510516,20170302,1,1,1965,1995,43,30,42,2011,60,17,0.851487
18,1944,19440721,0,1,1,1962,1995,50,33,42,2004,60,10,0.880527
19,1942,19421110,20151122,1,1,1958,1995,52,37,42,2002,60,8,0.896025
20,1937,19371108,0,1,1,1962,1995,57,33,42,1997,60,3,0.950912
21,1951,19511111,0,1,1,1962,1995,43,33,42,2011,60,17,0.851487
22,1942,19420604,0,1,1,1960,1995,52,35,42,2002,60,8,0.896025
23,1936,19361016,20140914,1,1,1962,1995,58,33,42,1996,60,2,0.965539
24,1947,19470913,0,1,1,1962,1995,47,33,42,2007,60,13,0.865335
25,1945,19450301,19950628,1,1,1965,1995,50,30,42,2005,60,10,0.880527
26,1948,19480629,0,1,1,1963,1995,46,32,42,2008,60,14,0.860990
27,1940,19400924,0,1,1,1959,1995,54,36,42,2000,60,6,0.912453
28,1948,19481215,20150131,1,1,1961,1995,46,34,42,2008,60,14,0.860990
29,1951,19510725,0,1,1,1965,1995,43,30,42,2011,60,17,0.851487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10042,1948,19480701,0,1,1,1994,2016,68,22,41,2014,66,-2,1.000000
10043,1953,19530303,0,3,1,1990,2016,63,26,41,2013,60,-3,1.000000
10044,1951,19510730,0,1,1,1987,2016,65,29,41,2011,60,-5,1.000000
10045,1951,19510730,0,1,1,1981,2016,65,35,41,2011,60,-5,1.000000
10046,1953,19531013,0,3,1,2001,2016,63,15,41,2021,68,5,0.939642
10047,1953,19531207,0,3,1,2001,2016,62,15,41,2021,68,6,0.931891
10048,1953,19530603,0,1,1,1981,2016,63,35,42,2013,60,-3,1.000000
10049,1964,19640807,0,1,1,1981,2016,52,35,42,2024,60,8,0.924018
10050,1956,19560523,0,3,1,2002,2016,60,14,41,2022,66,6,0.941176
10051,1951,19510724,0,1,1,1996,2016,65,20,41,2016,65,0,1.000000
10052,1937,19370421,0,1,1,2006,2016,79,10,41,2026,89,10,0.391311
10053,1956,19561119,0,3,1,1997,2016,60,19,41,2017,61,1,0.990756
10054,1971,19710130,0,1,1,1981,2016,45,35,42,2031,60,15,0.893148
10055,1951,19510801,0,1,1,2000,2016,65,16,41,2020,69,4,0.912169
10056,1958,19580523,0,3,1,1988,2016,58,28,42,2018,60,2,0.986297
10057,1951,19511001,0,1,1,1989,2016,65,27,41,2011,60,-5,1.000000
10058,1955,19550819,0,3,1,1995,2016,61,21,41,2015,60,-1,1.000000
10059,1956,19561004,0,3,1,1997,2016,60,19,41,2017,61,1,0.990756
10060,1956,19560530,0,3,1,2001,2016,60,15,41,2021,65,5,0.953840
10061,1956,19561001,0,3,1,1988,2016,60,28,41,2016,60,0,1.000000
10062,1951,19511004,0,1,1,1994,2016,65,22,41,2014,63,-2,1.000000
10063,1969,19690601,0,3,1,1986,2016,47,30,42,2029,60,13,0.944238
10064,1952,19520909,0,3,1,2002,2016,64,14,41,2022,70,6,0.918751
10065,1958,19580918,0,3,1,1983,2016,58,33,42,2018,60,2,0.986297
10066,1955,19550423,0,1,1,1981,2016,60,35,42,2015,60,0,1.000000
10067,1966,19660703,0,1,1,1981,2016,50,35,42,2026,60,10,0.911923
10068,1959,19590405,0,1,1,1979,2016,57,37,42,2019,60,3,0.965034
10069,1953,19531117,0,1,1,1981,2016,62,35,42,2013,60,-2,1.000000
10070,1958,19581013,0,3,1,1984,2016,57,32,42,2018,60,3,0.980427
10071,1955,19550125,0,1,1,1980,2016,61,36,42,2015,60,-1,1.000000

## Simulação

### Aposentados RGPS em ANO_FIM

In [7]:
sql = """
SELECT 
	ESPECIE
	,DIB
	,CLIENTELA
	,SEXO
	,SITUACAO
	,TEMPO_CONTRIB
	,IDADE_DIB
	,VL_RMI
FROM {table_name}
WHERE DIB > {ano}*10000 AND DIB < ({ano}+1)*10000
	AND ESPECIE = 41 -- APOSENTADORIA POR IDADE
    AND SEXO = 1     -- HOMENS
""".format(table_name=DBTABLE,
           ano=ANO_FIM)
df = ds_query(sql)

In [8]:
print('ANO FIM = {}'.format(ANO_FIM))
df[['idade_dib','sexo']].groupby('idade_dib').count()

ANO FIM = 2016

           sexo
idade_dib
60          102
61            5
62            1
63            1
64            2
65           65
66            3
67            3
68            2
69            1
70            1
71            1
73            1
76            1
79            1
999           5

### Aposentados PEC 6/2019 em ANO_FIM

In [9]:
print('ANO FIM = {}'.format(ANO_FIM))
df = fato_pessoa[fato_pessoa['pec6_ano_dib']==ANO_FIM][['pec6_idade_dib','pec6_prob']]
df = df.groupby('pec6_idade_dib').sum()
df['qtd'] = df['pec6_prob'].apply(lambda x: round(x))
df

ANO FIM = 2016

                 pec6_prob  qtd
pec6_idade_dib
60              330.448394  330
61                1.981161    2
62               10.792100   11
63                8.772031    9
64               10.580094   11
65               29.587376   30
66               18.858443   19
67               26.270773   26
68               13.924003   14
69               17.288950   17
70               17.161073   17
71               11.420990   11
72                4.206089    4
73                7.471929    7
74                2.439308    2
75                4.037531    4
76                0.826129    1
77                4.550176    5
78                2.378191    2
79                2.262532    2
84                0.571168    1
87                0.432182    0

## Considerações

* **Probabilidade de a pessoa não querer se aposentar na idade mínima**
 * Utilizar probabilidades da base?
 * Como mensurar a "vontade de trabalhar mais para aumentar o valor do benefício"?
* **Aposentadoria por idade de homens**
 * Não sofre alterações em termos de quantidade na PEC 6/2019?
* **Tempo de Contribuição**
 * É válido condisiderar que o ano de inicio de contribuição como:  `ano_inicio_contrib = ano_dib - tempo_contrib`
 * Essa abordagem desconsidera períodos de desemprego/i

## Cleanup

In [10]:
# Print out elapsed time                                                        
elapsed_time = (time.time() - start_time) / 60                                  
print("\nExecution time: {0:0.4f} minutes.".format(elapsed_time))

Execution time: 0.2800 minutes.